server {
  listen 80;
  server_name {{ ansible_host }};

  root {{ WEBSITE_PATH }};

  location /api/v1/ {
    proxy_set_header X-Forwarded-For $http_x_forwarded_for;
    proxy_set_header X-Real-IP $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;

    proxy_set_header Host localhost;
    proxy_pass http://localhost:{{ BACKEND_PORT }};

    break;
  }

  location / {
    proxy_set_header X-Forwarded-For $http_x_forwarded_for;
    proxy_set_header X-Real-IP $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;

    default_type "text/html";
    try_files $uri.html $uri $uri/ =404;

    break;
  }
}